---
import { getCollection } from "astro:content";
import { getImage } from "astro:assets";

import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import ActionButtons from "../components/ActionButtons.astro";

const projects = await getCollection("projects");
const sortedProjects = projects.sort((a, b) => {
  return a.data.sortIndex - b.data.sortIndex;
});
---

<Layout title="Built With Keystatic">
  <div
    class="mt-12 md:mt-16 lg:mt-20 xl:mt-24 max-w-7xl mx-auto px-4 sm:px-6 lg:px-8"
  >
    <div class="text-center max-w-md mx-auto flex flex-col gap-2 items-center">
      <h1
        class="uppercase font-semibold tracking-widest text-xs text-slate-500"
      >
        <span>Built with</span>
        <a
          href="https://keystatic.com"
          target="_blank"
          class="mt-2 block group"
        >
          <span class="sr-only">Keystatic</span>
          <Logo class="h-6 text-black" />
        </a>
      </h1>
      <p class="mt-2 md:mt-4 text-slate-600 md:text-lg">
        A collection of projects using Keystatic to manage parts of their
        codebase.
      </p>
    </div>

    <ul
      class="py-8 sm:py-12 gap-x-6 gap-y-16 lg:py-16 grid sm:grid-cols-2 lg:grid-cols-3 lg:gap-x-8 xl:gap-x-12 lg:gap-y-12 xl:gap-y-16"
    >
      {
        sortedProjects.map(async ({ slug, data, body }, index) => {
          const arr = [
            { width: 373, height: 231 },
            { width: 560, height: 348 },
            { width: 746, height: 464 },
          ].map((el) => {
            return getImage({
              src: data.coverImage,
              format: "webp",
              width: el.width,
              quality: 100,
              height: el.height,
            });
          });
          const [low, medium, high] = await Promise.all(arr);
          return (
            <li>
              <div class="aspect-[16/10] relative">
                <img
                  srcset={`${low.src},
               ${medium.src} 1.5x,
               ${high.src} 2x`}
                  class="rounded-lg absolute inset-0 object-cover w-full"
                  src={high.src}
                  alt=""
                  loading={index < 6 ? "eager" : "lazy"}
                />
              </div>
              <div class="mt-4 flex flex-wrap gap-x-2 gap-y-1 items-center">
                <h2 class="xl:text-lg font-semibold group-hover:underline">
                  {data.title}
                </h2>
                {data.type === "production" ? (
                  <span class="flex items-center px-2 py-1 rounded-full text-xs font-semibold bg-emerald-100 text-emerald-800 uppercase tracking-wide gap-2">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width={1.5}
                      stroke="currentColor"
                      class="w-4 h-4 text-emerald-700"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z"
                      />
                    </svg>
                    live site
                  </span>
                ) : (
                  <span class="flex items-center px-2 py-1 rounded-full text-xs font-semibold bg-amber-100 text-amber-800 uppercase tracking-wide gap-2">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-4 h-4 text-amber-700"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M9.813 15.904L9 18.75l-.813-2.846a4.5 4.5 0 00-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 003.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 003.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 00-3.09 3.09zM18.259 8.715L18 9.75l-.259-1.035a3.375 3.375 0 00-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 002.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 002.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 00-2.456 2.456zM16.894 20.567L16.5 21.75l-.394-1.183a2.25 2.25 0 00-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 001.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 001.423 1.423l1.183.394-1.183.394a2.25 2.25 0 00-1.423 1.423z"
                      />
                    </svg>
                    demo
                  </span>
                )}
              </div>
              <p class="mt-1 text-slate-600">{data.summary}</p>
              <div class="mt-4 flex gap-2 items-center flex-wrap">
                <ActionButtons data={data} slug={slug} body={body} />
              </div>
            </li>
          );
        })
      }
    </ul>
  </div>
</Layout>
