---
import { ViewTransitions } from "astro:transitions";
import { SEO } from 'astro-seo'

import Footer from "../components/Footer.astro";

import defaultImage from "~/assets/seo-image.png";
import "../styles/tailwind.css";


type Props = {
  title: string
  description?: string
  canonical?: string
  seoImage?: string
  noindex?: boolean
  nofollow?: boolean
  footerCTAText?: string
  footerButtonCTAText?: string
  noFooterCTA?: boolean
  og?: {
    title?: string
    description?: string
    type?: string
    image?: string
    imageAlt?: string
    url?: string
  }
  twitter?: {
    title?: string
    description?: string
    image?: string
    site?: string
    creator?: string
    card?: 'summary' | 'summary_large_image'
  }
}

// SEO Default values
const {
  title: titleProp,
  description = 'A collection of projects using Keystatic to manage parts of their codebase.',
  canonical = 'https://keystatic.com/showcase',
  seoImage = defaultImage.src,
  og: ogProps,
  twitter: twitterProps,
  noindex = false,
  nofollow = false,
  footerCTAText,
  footerButtonCTAText,
  noFooterCTA = false,
} = Astro.props as Props

const siteUrl = Astro?.site?.origin || 'https://keystatic.com/showcase'

const title = [titleProp, 'Built with Keystatic'].filter(Boolean).join(' | ')

// Merging OG and Twitter props with default values
const og = {
  title: title + ' ',
  description: description + ' ',
  type: 'website',
  image: siteUrl + seoImage,
  imageAlt: title,
  url: canonical,
  ...(ogProps || {}),
}

const twitter = {
  title,
  description,
  image: siteUrl + seoImage,
  site: '@thekeystatic',
  creator: '@thekeystatic',
  card: 'summary_large_image' as const,
  ...(twitterProps || {}),
}
---

<!DOCTYPE html>
<html lang="en" class="antialiased bg-slate-100 min-h-screen">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/_uses_assets/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={title}
      description={description}
      canonical={canonical}
      noindex={noindex}
      nofollow={nofollow}
      openGraph={{
        basic: {
          title: og.title,
          type: og.type,
          image: og.image,
          url: og.url,
        },
        optional: {
          description: og.description,
        },
        image: {
          width: 1200,
          height: 1200,
          alt: og.imageAlt,
        },
      }}
      twitter={{
        card: twitter.card,
        site: twitter.site,
        creator: twitter.creator,
      }}
      extend={{
        meta: [
          { name: 'twitter:title', content: twitter.title },
          { name: 'twitter:description', content: twitter.description },
          { name: 'twitter:image', content: twitter.image },
        ],
      }}
    />
    <ViewTransitions />
  </head>
  <body class="flex flex-col min-h-screen">
    <div class="flex-1">
      <slot />
    </div>
    <Footer />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "name": "Built with Keystatic",
        "url": "https://keystatic.com/showcase",
        "description": "A collection of projects using Keystatic to manage parts of their codebase.",
        "sameAs": ["https://twitter.com/thekeystatic", "https://keystatic.io"]
      }
    </script>
  </body>
</html>
